<div class="row">
    <div class="col-md-6">
        <img class="img-fluid" src="{{product.image}}" alt="">
    </div>
    <div class="col-md-6">
        <h1 class="h2">{{ product.name }}</h1>
        <p>USD {{product.sale_price}}</p>
        <hr>
        <h3>Descripcion del producto</h3>
        <p>{{product.description}}</p>
    </div>
</div>