html,
body {
  font-family: "Ubuntu", sans-serif;  
}

.bg-orluc{
   background-color: rgba(14,140,69,0.9) !important;
}




/* ================ CONVERITR A PDF ================== */

@page {
    margin: 60px 0px;
  }

@media print {
  .breaker-avoid {
    page-break-inside: avoid;
  }
}
