html { 
  background: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  padding-bottom: 70px;
  background-color: transparent;
}

.box{
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  color: #000;
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
}

.stamp {
  margin: 2px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  font-size: 14px;
  font-family: sans-serif;
  border: 1px solid #2193b0;
  background-color: none;
  color: #2193b0;
  display: inline-block;
}
.stamp-add {
  border: 1px solid #2193b0;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #ffffff;
}
.stamp-ready {
  border: 1px solid #e8d947;
  background-color: #e8d947;
  color: #000000;
}
.text-color {
  color: #000000;
}
.text-small {
  font-size: 12px;
}

#main-footer{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}