<!-- HEADER -->
<header id="main-header" class="py-2 bg-primary text-white mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="fas fa-cog"></i> Lista de Usuarios</h1>
      </div>
    </div>
  </div>
</header>

<div class="row userMain">
    {{#each users}}
    <div class="col-md-3 col-sm-4">
        <div class="userBlock">
            <div class="backgrounImg">
                <img src="https://preview.ibb.co/miQjb7/photography4.jpg">
            </div>
            <div class="userImg">
                <img src="https://image.ibb.co/es4AG7/author4.jpg">
            </div>
            <div class="userDescription">
                <h5>{{name}}</h5>
                <p>{{email}}</p>


                <div class="followrs">
                    <span class="number">{{fidelity}}</span>
                    <span>Puntos de Fidelidad</span>
                </div>
                <a class="premiar" href="#" data-userid={{_id}}>
                    <button class="btn">Premiar</button>
                </a>
            </div>

        </div>
    </div>
    {{/each}}
</div>