<!-- HEADER -->
<header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <i class="fas fa-chart-bar"></i> Generador de Catalogo
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input id="search" class="form-control form-control-lg form-control-borderless" type="search"
                                placeholder="Busca un producto para anadir">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Anadir</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div id="product-item" class="py-4 mb-4 bg-light">
    
</div>