<div class="box">
    <div class="col-md-6 offset-md-3 text-center">
        <img class="img-fluid" src="/images/logo.png" alt="Orluc">
    </div>

    <div class="col-md-6 offset-md-3 text-center">
        <hr class="mt-0 mb-3 p-0">
    </div>

    <div class="col-md-6 offset-md-3 text-center">

        <div class="stamp stamp-add">1</div>
        <div class="stamp stamp-add">2</div>
        <div class="stamp stamp-add">3</div>
        <div class="stamp stamp-add">4</div>
        <div class="stamp stamp-add">5</div>
        <div class="stamp stamp-add">6</div>
        <div class="stamp stamp-add">7</div>
        <div class="stamp stamp-add">8</div>
        <div class="stamp stamp-add">9</div>
        <div class="stamp ">
            <i class="fa fa-gift"></i>
        </div>
        <div class="col-md-6 offset-md-3 text-center">
            <h5 class="mt-3 mb-3 p-0 text-color">
                Canjes Realizados: {{user.canjes}}
            </h5>
        </div>

    </div>

    <div class="col-md-6 offset-md-3 text-center">
        <hr class="mt-3 mb-3 p-0">
    </div>

    <div class="col-md-6 offset-md-3 text-center my-2">
        <p class="m-0 p-0 text-color text-small">
            * Por compras mayores a 5000₡ recibes un punto.
        </p>
        <p class="mt-0 mb-2 p-0 text-color text-small">
            * Al llenar la tarjeta (10 puntos) recibes un descuento del 40% en tu compra.
        </p>
        <h4 class="m-0 p-0 text-color">{{user.name}}</h4>
        <h5 class="m-0 p-0 text-color">{{user.email}}</h5>
    </div>
</div>