<div class="fidelitybox">
    <div class="col-md-6 offset-md-3 text-center">
        <img class="img-fluid" src="/images/logo.png" alt="Orluc">
    </div>

    <div class="col-md-6 offset-md-3 text-center">
        <hr class="mt-0 mb-3 p-0">
    </div>

    <div class="col-md-6 offset-md-3 text-center">

        {{{fidelityCount user}}}
        <div class="col-md-6 offset-md-3 text-center">
            <h5 class="mt-3 mb-3 p-0 text-color">
                Canjes Realizados: {{user.canjes}}
            </h5>
        </div>

    </div>

    <div class="col-md-6 offset-md-3 text-center">
        <hr class="mt-3 mb-3 p-0">
    </div>

    <div class="col-md-6 offset-md-3 text-center my-2">
        <p class="m-0 p-0 text-color text-small">
            * Por compras mayores a ₡5000 recibes un punto.
        </p>
        <p class="mt-0 mb-2 p-0 text-color text-small">
            * Al llenar la tarjeta (10 puntos) recibes un descuento del 40% en tu compra.
        </p>
        <h4 class="m-0 p-0 text-color">{{user.name}}</h4>
        <h5 class="m-0 p-0 text-color">{{user.email}}</h5>
    </div>
</div>