<h1>Programa de Fidelidad</h1>
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="display-4">En Orluc Premiamos Tu Fidelidad</h1>
            <p class="lead">...</p>
            <hr class="my-4">
            <p>Puntos Acumulados: {{user.fidelity}}</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Saber mas</a>
            </p>
        </div>
    </div>
</div>